@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
body {
  background-color: #333;
  color: #fff;
  font-family: Lato;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
}

.faq-title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  color: white;
  font-family: Teko;
  font-weight: 900;
  text-shadow: 0px 0 black, 0 0px black, 3px 0 black, 0 -3px black;
}

.faq-list {
  border-top: 1px solid rgb(150, 0, 0);
}

.faq-item {
  border-bottom: 1px solid rgb(150, 0, 0);
  padding: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-item:hover {
  background-color: #555;
}

.faq-question {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  padding-top: 10px;
  font-size: 16px;
}

.faq-toggle {
  font-size: 1.5em;
  color: white;
}
