.newsletter {
  width: 100%;
  max-width: 1200px;
  padding: 40px;
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.newsletter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(150, 0, 0, 0.8), transparent),
    linear-gradient(135deg, rgba(150, 0, 0, 0.8), transparent),
    linear-gradient(45deg, transparent 75%, rgba(150, 0, 0, 0.8) 75%),
    linear-gradient(135deg, transparent 75%, rgba(150, 0, 0, 0.8) 75%);
  background-size: 1300px 1300px;
  animation: gradientAnimation 10s ease infinite;
  z-index: -1;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.newsletter h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.newsletter p {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter input {
  width: 300px;
  height: 50px;
  padding: 0 20px;
  border: 2px solid #ccc;
  border-radius: 25px 0 0 25px;
  font-size: 1.2rem;
  outline: none;
  color: #333;
  background-color: #fff;
}

.newsletter button {
  width: 150px;
  height: 55px;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 0 25px 25px 0;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.newsletter button .checkmark {
  display: inline-block;
  animation: checkmarkAnimation 0.5s ease-in-out;
}

@keyframes checkmarkAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.newsletter button:hover:not(:disabled) {
  background-color: #111;
}

/* Media queries */
@media (max-width: 1780px) {
  .newsletter {
    width: 65%;
    margin: 50px auto;
  }
}

@media (max-width: 1536px) {
  .newsletter {
    width: 70%;
    margin: 50px auto;
  }
}

@media (max-width: 1280px) {
  .newsletter {
    width: 80%;
    margin: 50px auto;
  }
}

@media (max-width: 1024px) {
  .newsletter {
    width: 90%;
    margin: 50px auto;
  }

  .newsletter h1 {
    font-size: 2.5rem;
  }

  .newsletter p {
    font-size: 1.2rem;
  }

  .input-container {
    max-width: 600px;
  }
}

@media (max-width: 800px) {
  .newsletter {
    width: 80%;
    margin: 50px auto;
  }

  .newsletter h1 {
    font-size: 2rem;
  }

  .newsletter p {
    font-size: 1rem;
  }

  .input-container {
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .newsletter {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
  }

  .newsletter h1 {
    font-size: 1.5rem;
  }

  .newsletter p {
    font-size: 0.9rem;
  }

  .input-container {
    flex-direction: column;
  }

  .newsletter input,
  .newsletter button {
    width: 80%;
    margin-bottom: 10px;
  }
}
