/* App.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 0px; /* WAS 0 15px so change back if there is issues*/
}

/*View for Max-Width 1024px*/
@media (max-width: 1024px) {
  .container {
    padding: 0px;
  }
}

/*View for Max-Width 768px*/
@media (max-width: 768px) {
  .container {
    padding: 0px;
  }

  /* Adjust header and footer visibility or layout for smaller screens */
  .header-visible-on-mobile {
    display: block;
  }

  .footer-visible-on-desktop {
    display: none;
  }
}

/*View for Max-Width 480px*/
@media (max-width: 480px) {
  .container {
    padding: 0px;
  }
  body {
    font-size: 16px;
  }
}
